body {
	margin: 0;
	padding: 0;

	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	font: inherit;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.body-shadow {
	width: 1440px;
	margin: 0 auto;
	padding: 0;
	background-color: transparent;
	box-shadow: 
		5px 0 15px 0 rgba(0, 0, 0, 0.1),
		-5px 0 15px 0 rgba(0, 0, 0, 0.1);
}

.main-header,
.content,
.main-footer {
	margin: 0 auto;
	padding: 0;
	width: 1440px;
}

.main-header {
	position: relative;
}

.navigation-wrapper {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	min-height: 44px;
	padding-top: 52px;
	padding-left: 150px;
	padding-right: 150px;
	box-sizing: border-box;
	z-index: 1;
}

.page-navigation {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 845px;
	min-height: 44px;
}

.page-navigation li {
	margin: 0;
	padding: 0;

	height: 44px;
}

.navigation-link a {
	display: block;
	box-sizing: border-box;
	height: 16px;
	padding-top: 14px;

	font-size: 16px;
	line-height: 16px;
	font-weight: 500; 
	color: #222B59;
}

.navigation-link a[href]:hover,
.navigation-link a[href]:focus {
	color: #3AAA35;
}

.navigation-link a[href]::after {
	content: "";
	display: block;
	position: relative;
	top: 4px;
	width: 100%;
	height: 2px;
	transform: scaleX(0);
	background-color: #3AAA35;

	transition: transform 0.3s;
	-webkit-transition: transform 0.3s;
	-moz-transition: transform 0.3s;
	-o-transition: transform 0.3s;
}

.navigation-link a[href]:hover::after,
.navigation-link a[href]:focus::after {
	transform: scaleX(1);
}

.callback-nav {
	margin: 0;
	padding: 0;

	list-style: none;

	position: relative;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: flex-end;
}

.phone-number {
	display: block;
	float: left;

	font-size: 20px;
	line-height: 20px;
	font-weight: 900;
	color: #fff;
}

.btn-callback {
	margin: 0;
	padding: 0;

	display: block;
	float: left;

	font: inherit;
	background-color: transparent;
	border: none;
	cursor: pointer;

	font-size: 13px;
	line-height: 18px;
	color: #fff;
	border-bottom: 1px #fff dashed;
}

.btn-callback:hover,
.btn-callback:focus {
		border-bottom: 0;
		opacity: 0.5;
}

.main-screen {
	position: relative;
	width: 1140px;
}

.main-img {
	position: relative;
	margin: 0 auto;
	max-width: 100%;
	min-width: 1440px;
	min-height: 1240px;
	background-image: url('../img/index.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0 0;
	background-color: #fff;
	overflow: hidden;
}

h1 {
	margin: 0;
	padding: 0;

	position: relative;
	margin-left: 150px;
	margin-top: 208px;

	font-size: 72px;
	line-height: 84px;
	font-weight: 900;
	color: #222B59;
}

/* Слайдер с преимуществами */

.features-slider {
	display: block;
	position: relative;
	margin-top: 44px;
	margin-left: 150px;
	margin-bottom: 44px;
	width: 350px;
	height: 80px;
	overflow: hidden;
}

.features-slider-wrapper {
	display: flex;
	transition: transform 0.3s ease;
	-webkit-transition: transform 0.3s ease;
	-moz-transition: transform 0.3s ease;
	-o-transition: transform 0.3s ease;
}

.features-slider ul {
	margin: 0;
	padding: 0;
}

.feature-item {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	align-items: center;

	margin-left: 100px;
	height: 80px;

	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	color: #222B59;
}

.features-list:first-child li::before {
	content: "";
	width: 80px;
	height: 80px;
	position: absolute;
	margin-left: -100px;
	background: url('../img/icon_1day.svg') no-repeat 0 0;
}

/* продолжение */

.modal-button {
	margin: 0;
	padding: 0;

	margin-left: 150px;

	font: inherit;
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
	color: #fff;

	width: 360px;
	height: 70px;
	background-color: #3AAA35;
	border: none;
	border-radius: 35px;
	box-shadow: 
		0 10px 30px 0 rgba(34, 43, 89, 0.25);

	transition: font-size .3s ease-in-out;
}

.modal-button:hover,
.modal-button:focus {
	background-color: #339A2F;
	font-size: 22px;
}

.social-media {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	justify-content: space-between;
	margin-left: 150px;
	margin-top: 62px;
	margin-bottom: 85px;
	width: 160px;
}

.social-btn,
.social-btn:visited {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	box-shadow: 
		0 4px 10px 0 rgba(34, 43, 89, 0.5);

	transition: all .15s ease-in;
}

.social-btn:hover,
.social-btn:focus {
	transform: translateY(2px);
	box-shadow: none;
}

/*PROMO*/

.promo-shadow {
	width: 1140px;
	margin: 0 auto;
	background-color: transparent;
	box-shadow: 
		0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.promo-rotator {
	position: relative;
	overflow: hidden;
	margin-bottom: 120px;
}

.rotator-wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider-control {
	position: absolute;
	top: 50%;
	align-items: center;
	justify-content: center;
	opacity: 0.5;
	transform: translateY(-50%);
}

.slider-control.visible {
	display: flex;
	opacity: 1;
}

.slider-control:hover,
.slider-control:focus {
	opacity: 1;
}

.slider-control.previous {
	left: 20px;
}

.slider-control.next {
	right: 20px;
}

.promo-block {
	margin: 0 auto;
	padding: 0;

	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
	justify-content: space-between;
	width: 1140px;
	height: 480px;
	background-color: #fff;
}

.promo-image {
	width: 555px;
	height: 480px;
	background: url('../img/mobile.png') no-repeat center center;
}

.card-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 487px;
	margin-right: 68px;
}

.promo-date {
	margin: 0;
	padding: 0;

	display: flex;
	margin-bottom: 18px;

	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: #AAA;
}

.promo-block h3 {
	margin: 0;
	padding: 0;

	display: flex;
	width: 458px;
	order: 1;

	font-size: 36px;
	line-height: 44px;
	font-weight: 900;
	color: #222B59;
}

.promo-text {
	margin: 0;
	padding: 0;

	display: flex;
	margin-top: 20px;
	margin-bottom: 50px;
	width: 458px;
	order: 1;

	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	color: #333;
}

.promo-block .modal-button {
	order: 2;
	margin-left: 0;
	margin-bottom: 82px;
}

/* DOCTORS */

.about-service {
	display: block;
	position: relative;
	margin-left: 803px;
	width: 539px;
	height: 345px;
	background-color: #6987C5;
	mix-blend-mode: multiply;
	padding-top: 38px;
	padding-left: 48px;
}

h2 {
	margin: 0;
	padding: 0;

	font-size: 64px;
	line-height: 64px;
	color: #fff;
}

.doctors h2 {
	display: block;
}

.doctors p {
	margin: 0;
	padding: 0;

	display: block;
	width: 430px;
	margin-top: 36px;

	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	color: #fff;
}

.doctor-list-wrapper {
	display: flex;
	width: 487px;
	margin-top: 40px;
	margin-left: 803px;
	padding-left: 42px;
	padding-bottom: 42px;
	padding-top: 12px;

	background-color: #fff;
	box-shadow: 
		0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.doctor-list {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	flex-direction: column;
}

.doctor-list h3 {
	margin: 0;
	padding: 0;

	display: block;
	margin-top: 36px;
	margin-bottom: 18px;
	font-size: 36px;
	line-height: 36px;
	font-weight: 900;
	color: #222B59;
}

.doctor-list li {
	display: block;
	margin-bottom: 8px;
}

.center-doctors {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.center-doctors li {
	margin: 0;
	padding: 0;

	display: block;
	position: relative;
	margin-right: 20px;

	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
}

.doctor-item:not(.last)::after {
	content: "";
	width: 14px;
	height: 8px;
	position: absolute;
	margin: 6px 0;
	background: url('../img/icon_cross.svg') no-repeat 6px 0;
}

.green-block {
	position: absolute;
	margin-left: 98px;
	width: 412px;
	height: 762px;
	border-radius: 0px 200px;
	background-color: #3AAA35;
}

.doctors-img {
	position: absolute;
	width: 750px;
	height: 465px;
	margin-top: 72px;
	margin-left: 150px;
	border-radius: 300px 0 200px;
	background: url('../img/doctors.jpg');
}

/* LOYALTY */

.loyalty {
	background: url('../img/loyalty.jpg') no-repeat 85px 0;
	overflow: hidden;
	margin-top: 36px;
	padding-bottom: 72px;
	padding-left: 150px;
}

.loyalty-intro {
	display: block;
	margin-top: 160px;

	font-size: 36px;
	line-height: 48px;
	color: #222B59;
}

.loyalty-name {
	display: block;
	margin-bottom: 60px;

	font-size: 48px;
	line-height: 100%;
	text-transform: uppercase;
	font-weight: 900;
	color: #3AAA35;
}

.loyalty-features {
	margin: 0;
	padding: 0;
	list-style: none;
}

.loyalty-features li {
	display: block;
	position: relative;
	margin-bottom: 28px;
	margin-left: 98px;

	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
	color: #222B59;
}

.loyalty-features li::before {
	content: "";
	position: absolute;
	margin-top: -12px;
	left: -98px;
	width: 68px;
	height: 68px;
}

.loyalty-features li:first-child::before {
	background: url('../img/bonus-welcome.png') no-repeat 0 0;
}

.loyalty-features li:nth-child(2)::before {
	background: url('../img/bonus-save.png') no-repeat 0 0;
}

.loyalty-features li:nth-child(3)::before {
	background: url('../img/bonus-pay.png') no-repeat 0 0;
}

.loyalty-features li:nth-child(4)::before {
	background: url('../img/bonus-share.png') no-repeat 0 0;
}

.loyalty-features li:nth-child(5)::before {
	background: url('../img/bonus-time.png') no-repeat 0 0;
}

.loyalty-features li:nth-child(6)::before {
	background: url('../img/bonus-profile.png') no-repeat 0 0;
}

/* ABOUT HELIX */

.about-helix p {
	margin: 0;
	padding: 0;
	margin-top: 90px;
	margin-bottom: 100px;

	font-size: 64px;
	font-weight: 900;
	color: #222B59;
	text-align: center;
}

.about-helix span {
	color: #3AAA35;
}

.helix-features {
	margin: 0;
	padding: 0;
	list-style: none;
}

.helix-features div {
	display: flex;
	margin: 0 auto;
	width: 1140px;

	justify-content: space-between;
	margin-bottom: 90px;
}

.helix-features li {
	display: block;
	position: relative;
	left: 98px;
	width: 262px;

	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
	color: #222B59;
}

.helix-features li::before {
	content: "";
	position: absolute;
	margin-top: -6px;
	left: -98px;
	width: 68px;
	height: 68px;
}

.helix-features .first li:first-child::before {
	background: url('../img/feature-1.png') no-repeat 0 0;
}

.helix-features .first li:nth-child(2)::before {
	background: url('../img/feature-2.png') no-repeat 0 0;
}

.helix-features .first li:nth-child(3)::before {
	background: url('../img/feature-3.png') no-repeat 0 0;
}

.helix-features .second li:first-child::before {
	background: url('../img/feature-4.png') no-repeat 0 0;
}

.helix-features .second li:nth-child(2)::before {
	background: url('../img/feature-5.png') no-repeat 0 0;
}

.helix-features .second li:nth-child(3)::before {
	background: url('../img/feature-6.png') no-repeat 0 0;
}

.to-helix {
	position: relative;
	margin: 0 auto;
	padding: 23px 62px 27px 62px;
	margin-bottom: 98px;

	display: block;
	width: 360px;
	height: 70px;
	box-sizing: border-box;
	border: 1px solid #6987C5;
	border-radius: 35px;
	background-color: #fff;

	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
	color: #6987C5;

	transition: all 0.3s ease-out;
}

.to-helix:hover,
.to-helix:focus {
	color: #fff;
	background-color: #6987C5;
}

/* CONTACTS */

.contacts {
	padding: 65px 150px 0 150px;
	background: linear-gradient(to right, #6987C5 65%, #41B1D8 65%);
}

.contacts h2{
	display: block;
	margin-bottom: 52px;
}

.contact-block {
	display: flex;
	height: 500px;
}

.contact-block ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.center-card {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 48px;
	width: 488px;
	background-color: #fff;

	overflow: hidden;
}

.center-card h3 {
	margin: 0;
	padding: 0;

	display: block;
	margin-bottom: 32px;

	position: relative;
	cursor: pointer;

	font-size: 24px;
	font-weight: 900;
	color: #222B59;
}

.center-card ul {
	display: none;
}

.center-card h3:hover ~ ul{
	display: block;
}

.card-info p,
.card-info h4 {
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	left: 50px;

	font-size: 20px;
	font-weight: 400;
	color: #222B59;
}

.card-info h4 {
	margin-top: 24px;
	margin-bottom: 18px;
}

.card-info p::before,
.card-info h4::before {
	content: "";
	position: absolute;
	left: -50px;
	width: 35px;
	height: 35px;
}

.card-info p::before {
	top: -6px;
	background: url('../img/icon-geopoint.svg') no-repeat 0 0;
}

.card-info h4::before {
	top: -2px;
	background: url('../img/icon-time.svg') no-repeat 0 0;
}

table,
tr,
td {
	margin: 0;
	padding: 0;
}

td.day {
	padding-right: 24px;
	padding-left: 50px;
	padding-bottom: 6px;

	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: right;
	vertical-align: bottom;
	color: #222B59;
}

td.time {
	padding-bottom: 4px;

	font-size: 20px;
	font-weight: 900;
	vertical-align: bottom;
	color: #222B59;
}

.schedule tr {
	padding: 12px;
}

.map {
	display: block;
	width: 652px;
	height: 500px;
	background-color: #ccc;
}

/* FOOTER */

.main-footer {
	display: flex;
	width: 1140px;
	justify-content: space-between;
	padding: 127px 150px 64px 150px; 
	background: linear-gradient(to right, #3AAA35 70%, #41B1D8 70%);
}